@import "tailwindcss";

@keyframes wiggle {
    0% { transform: rotate(0deg);}
    15% { transform: rotate(-5deg);}
    30% { transform: rotate(5deg);}
    45% { transform: rotate(-5deg);}
    60% { transform: rotate(5deg);}
    75% { transform: rotate(-2deg);}
    100% { transform: rotate(0deg);}
  }
  .hover\:animate-wiggle:hover {
    animation: wiggle 0.5s;
  }